.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
/* header */
header{
    width: 100%;
    background-color: #13345B;
    padding: 0 72px 0 64px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 52px;
}
li{
    font-size: 2.25rem;
    color: #FDD504;
}
li:hover{
    border-bottom: 5px solid #FDD504;
}
.header_icons{
    font-size: 2.5rem;
    color: #FDD504;
    display: flex;
    gap: 23px;
}
